<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Comic characters graph </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comic.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Ceviche+One|Allan|Open+Sans" rel="stylesheet">

</head>
<body>
<section id="header">
    <div id="top" class="navbar navbar-inverse" role="navigation">
        <a class="white" href="./"> How many superheros are...? </a>
        <p class="white text medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce mattis dolor ligula, quis dictum sem dignissim et.
            In volutpat ultrices placerat. Nulla molestie sit amet mi eget commodo.</p>
    </div>
</section>


<div id="outer" class="container-fluid">
    <div class="row">

        <!--select criteria-->

        <div id="all_criteria" class="container">
            <div class="row" >
                <p class="white description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce mattis dolor ligula, quis dictum sem dignissim et.</p>
            </div>

             <!--select comic-->
            <div id="comic" class="criteria col-sm-3 select ">
                <div class="col-md-6">
                    <i class=" white fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="chart-wrapper col-md-6">
                    <div class="pos_select">
                        <div class="chart-title">
                            <span class="description white"> Comic </span>
                        </div>
                        <div class="chart-stage">
                            <div id="select_comic"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--select comic-->
             <!--select Gender-->
            <div id="gender" class="criteria col-sm-3 select ">
                <div class="col-md-6">
                    <i class=" white fa fa-venus-mars" aria-hidden="true"></i>
                </div>
                <div class="chart-wrapper col-md-6">
                    <div class="pos_select">
                        <div class="chart-title">
                            <span class="description white"> Gender </span>
                        </div>
                        <div class="chart-stage">
                            <div id="select_gender"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--select Gender-->
             <!--select eye-->
            <div id="eye" class="criteria col-sm-3 select ">
                <div class="col-md-6">
                    <i class=" white fa fa-eye" aria-hidden="true"></i>
                </div>
                <div class="chart-wrapper col-md-6">
                    <div class="pos_select">
                        <div class="chart-title">
                            <span class="description white"> Eyes </span>
                        </div>
                        <div class="chart-stage">
                            <div id="select_eye"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--select eye-->
             <!--select hair-->
            <div id="hair" class="criteria col-sm-3 select ">
                <div class="col-md-6">
                    <i class=" white fa fa-github-alt" aria-hidden="true"></i>
                </div>
                <div class="chart-wrapper col-md-6">
                    <div class="pos_select">
                        <div class="chart-title">
                            <span class="description white"> Hair </span>
                        </div>
                        <div class="chart-stage">
                            <div id="select_hair"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--select hair-->
        </div>
         <!--select criteria-->
    </div>
     <div class="row" id="number_and_pie">
         <div class="col-md-4">
             <img src="../static/css/girl.png" alt="superhero">
         </div>
         <div class="col-md-4">
             <!-- Total_characters -->
             <div class="col-sm-12">
                 <div  class="chart-wrapper">
                     <div id="total" class="chart-stage">
                         <span class="white text medium"> Superheros: </span>
                         <div id="total_characters"></div>
                     </div>
                     <div class="chart-title white_bg">
                         <span class="black text medium"> How many there are? </span>
                     </div>

                 </div>
             </div>
             <!-- Total_characters -->
         </div>
         <div class="col-md-4">
             <img src="../static/css/guy.png" alt="superhero">
         </div>
     </div>
    <div id="pie" class="row center_content">
            <div class="col-md-4">
                <!-- Total_align -->
                  <div class="col-sm-12">
                    <div class="chart-wrapper black_bg">
                        <div class="chart-stage">
                            <div id="total_align"></div>
                        </div>
                     <div class="chart-title white_bg center_content">
                         <span class="black text medium"> Are they good or bad? </span>
                     </div>
                    </div>
                </div>
                <!-- Total_align -->
            </div>
            <div class="col-md-4">
                <!-- ID pie -->

                  <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-stage black_bg">
                            <div id="identity"></div>
                        </div>
                        <div class="chart-title white_bg center_content">
                             <span class="black text medium"> Are their identity know? </span>
                        </div>
                    </div>
                </div>
                <!-- ID pie -->
            </div>
            <div class="col-md-4">
                <!-- alive -->
                  <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-stage black_bg">
                            <div id="dead_or_alive"></div>
                        </div>
                        <div class="chart-title white_bg center_content">
                             <span class="black text medium"> Are they alive? </span>
                        </div>

                    </div>
                </div>
            </div>
    </div>

    <div class="row center_content" id="ranking_container">

        <div class="col-md-8">
            <!-- Ranking charts -->
                <div class="chart-wrapper">
                    <div id="ranking" class="chart-stage yellow_bg">
                        <div id="ranking_names">
                        </div>
                    </div>
                    <div class="chart-title white_bg center_content">
                        <span class="black text medium"> Who is the most popular? </span>
                    </div>
            </div>
            <!-- Ranking charts -->
        </div>
        <div class="col-md-2 purple_bg center_column">
            <i class="fa fa-trophy white medium" aria-hidden="true"></i>
        <p class="white description ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce mattis dolor ligula, quis dictum sem dignissim et.
            In volutpat ultrices placerat.</p>
        </div>
    </div>
    <div class="row center_content" id="ranking_container">

        <div class="col-md-2 purple_bg center_column">
            <i class="fa fa-odnoklassniki white medium" aria-hidden="true"></i>
        <p class="white description ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce mattis dolor ligula, quis dictum sem dignissim et.
            In volutpat ultrices placerat.</p>
        </div>
        <div class="col-md-9">
            <!-- Ranking charts -->
                <div class="chart-wrapper">
                    <div id="ranking" class="chart-stage blue_bg">
                        <div id="year_appearance">
                        </div>
                    </div>
                    <div class="chart-title white_bg center_content">
                        <span class="black text medium"> When were they born? </span>
                    </div>
            </div>
            <!-- Ranking charts -->
        </div>
    </div>
</div>



<script src="{{ url_for ('static', filename = 'lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/queue.js') }}"></script>
<script src="{{ url_for ('static', filename = 'lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static', filename = 'js/graphs.js') }}"></script>
</body>
</html>